{
    "swagger": "2.0",
    "info": {
        "description": "This is the booking service API.",
        "title": "Booking Service API",
        "contact": {
            "name": "API Support",
            "email": "support@example.com"
        },
        "version": "1.0"
    },
    "host": "booking.cegove.cloud",
    "basePath": "/api",
    "paths": {
        "/bookings": {
            "get": {
                "description": "Get a list of all bookings\nGet a list of all bookings",
                "produces": [
                    "application/json",
                    "application/json"
                ],
                "tags": [
                    "bookings",
                    "bookings"
                ],
                "summary": "List all bookings",
                "responses": {
                    "200": {
                        "description": "List of bookings retrieved successfully",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.Booking"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new booking for a user and showtime with selected seats",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bookings"
                ],
                "summary": "Create a new booking",
                "parameters": [
                    {
                        "description": "Booking creation request",
                        "name": "booking",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/handler.createBookingRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Booking created successfully",
                        "schema": {
                            "$ref": "#/definitions/domain.Booking"
                        }
                    }
                }
            }
        },
        "/bookings/webhooks/payment": {
            "post": {
                "description": "Receive payment status updates from Payment Service",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bookings"
                ],
                "summary": "Handle Payment Webhook",
                "parameters": [
                    {
                        "description": "Payment Status",
                        "name": "payment",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/domain.PaymentWebhookRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "status: received",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid payload",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/bookings/{booking_id}": {
            "get": {
                "description": "Get detailed information about a specific booking\nGet detailed information about a specific booking",
                "produces": [
                    "application/json",
                    "application/json"
                ],
                "tags": [
                    "bookings",
                    "bookings"
                ],
                "summary": "Get booking information",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Booking ID",
                        "name": "booking_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Booking ID",
                        "name": "booking_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Booking information retrieved successfully",
                        "schema": {
                            "$ref": "#/definitions/domain.Booking"
                        }
                    }
                }
            }
        },
        "/showtimes": {
            "get": {
                "description": "Get a list of all available showtimes",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "showtimes"
                ],
                "summary": "List all showtimes",
                "responses": {
                    "200": {
                        "description": "List of showtimes retrieved successfully",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.Showtime"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create showtimes",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "showtimes"
                ],
                "summary": "Create showtimes",
                "parameters": [
                    {
                        "description": "Showtimes creation request",
                        "name": "showtimes",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/handler.CreateShowtimesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Showtimes created successfully",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/showtimes/{showtime_id}/seats": {
            "get": {
                "description": "Get a list of seats for a specific showtime",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "showtimes"
                ],
                "summary": "Get showtime seats",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Showtime ID",
                        "name": "showtime_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of showtime seats retrieved successfully",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.ShowtimeSeat"
                            }
                        }
                    }
                }
            }
        },
        "/tickets/scan": {
            "post": {
                "description": "Validate and mark a ticket as used using its QR code",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "tickets"
                ],
                "summary": "Scan ticket",
                "parameters": [
                    {
                        "description": "Scan ticket request",
                        "name": "scan",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/handler.scanTicketRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ticket scanned successfully",
                        "schema": {
                            "$ref": "#/definitions/domain.Ticket"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "404": {
                        "description": "Ticket not found or already used",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/v2/showtimes/{showtime_id}/seats": {
            "get": {
                "description": "Get seats with computed labels and visual metadata suitable for frontend rendering",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "showtimes"
                ],
                "summary": "Get showtime seats V2 (Rich Data)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Showtime ID",
                        "name": "showtime_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/domain.SeatV2Response"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "domain.Booking": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "expires_at": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "seat_ids": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "showtime_id": {
                    "type": "string"
                },
                "status": {
                    "$ref": "#/definitions/domain.BookingStatus"
                },
                "tickets": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/domain.Ticket"
                    }
                },
                "total_price": {
                    "type": "number"
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "domain.BookingStatus": {
            "type": "integer",
            "enum": [
                0,
                1,
                2,
                3
            ],
            "x-enum-varnames": [
                "BookingStatusPending",
                "BookingStatusConfirmed",
                "BookingStatusCancelled",
                "BookingStatusFailed"
            ]
        },
        "domain.PaymentWebhookRequest": {
            "type": "object",
            "properties": {
                "booking_id": {
                    "type": "string"
                },
                "payment_status": {
                    "description": "\"SUCCESS\" or \"FAILED\"",
                    "type": "string"
                },
                "transaction_id": {
                    "type": "string"
                }
            }
        },
        "domain.SeatMetadata": {
            "type": "object",
            "properties": {
                "color_hex": {
                    "type": "string"
                },
                "display_name": {
                    "type": "string"
                },
                "type_code": {
                    "type": "string"
                }
            }
        },
        "domain.SeatPosition": {
            "type": "object",
            "properties": {
                "grid_x": {
                    "type": "integer"
                },
                "grid_y": {
                    "type": "integer"
                },
                "number": {
                    "type": "integer"
                },
                "row": {
                    "type": "string"
                }
            }
        },
        "domain.SeatPricing": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "number"
                },
                "currency": {
                    "type": "string"
                }
            }
        },
        "domain.SeatStatus": {
            "type": "integer",
            "enum": [
                0,
                1,
                2
            ],
            "x-enum-varnames": [
                "SeatStatusAvailable",
                "SeatStatusLocked",
                "SeatStatusSold"
            ]
        },
        "domain.SeatV2Response": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "label": {
                    "type": "string"
                },
                "metadata": {
                    "$ref": "#/definitions/domain.SeatMetadata"
                },
                "position": {
                    "$ref": "#/definitions/domain.SeatPosition"
                },
                "pricing": {
                    "$ref": "#/definitions/domain.SeatPricing"
                },
                "status_text": {
                    "type": "string"
                }
            }
        },
        "domain.Showtime": {
            "type": "object",
            "properties": {
                "auditorium_id": {
                    "type": "string"
                },
                "base_price": {
                    "type": "number"
                },
                "cinema_id": {
                    "type": "string"
                },
                "end_time": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "movie_id": {
                    "type": "string"
                },
                "start_time": {
                    "type": "string"
                }
            }
        },
        "domain.ShowtimeSeat": {
            "type": "object",
            "properties": {
                "booking_id": {
                    "type": "string"
                },
                "price": {
                    "type": "number"
                },
                "seat_id": {
                    "type": "string"
                },
                "seat_number": {
                    "type": "string"
                },
                "seat_type": {
                    "type": "string"
                },
                "showtime_id": {
                    "type": "string"
                },
                "status": {
                    "$ref": "#/definitions/domain.SeatStatus"
                }
            }
        },
        "domain.Ticket": {
            "type": "object",
            "properties": {
                "auditorium_name": {
                    "type": "string"
                },
                "booking_id": {
                    "type": "string"
                },
                "cinema_name": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "movie_title": {
                    "type": "string"
                },
                "price": {
                    "type": "number"
                },
                "qr_code": {
                    "type": "string"
                },
                "seat_number": {
                    "type": "string"
                },
                "showtime": {
                    "type": "string"
                },
                "showtime_id": {
                    "type": "string"
                },
                "status": {
                    "$ref": "#/definitions/domain.TicketStatus"
                }
            }
        },
        "domain.TicketStatus": {
            "type": "integer",
            "enum": [
                1,
                2,
                3
            ],
            "x-enum-varnames": [
                "TicketStatusActive",
                "TicketStatusUsed",
                "TicketStatusCancelled"
            ]
        },
        "handler.CreateShowtimesRequest": {
            "type": "object",
            "properties": {
                "showtimes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/domain.Showtime"
                    }
                }
            }
        },
        "handler.createBookingRequest": {
            "type": "object",
            "properties": {
                "seat_ids": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "seat1",
                        "seat2"
                    ]
                },
                "showtime_id": {
                    "type": "string",
                    "example": "showtime123"
                },
                "user_id": {
                    "type": "string",
                    "example": "user123"
                }
            }
        },
        "handler.scanTicketRequest": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                }
            }
        }
    }
}