apiVersion: v1
kind: Service
metadata:
  name: booking-service-svc
  labels:
    app: booking-service
spec:
  selector:
    app: booking-service
  ports:
    - port: 80
      targetPort: 8080
      name: http
    - port: 9090
      targetPort: 9090
      name: metrics
  type: ClusterIP
