apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: booking-servicemonitor
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
  spec:
  selector:
    matchLabels:
      app: booking-service
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
