apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: booking-service-monitor
  namespace: default
  labels:
    release: kube-prometheus-stack
    app: booking-service
spec:
  selector:
    matchLabels:
      app: booking-service
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: metrics
      path: /metrics
      interval: 15s
      scrapeTimeout: 10s
