  App container styles
  .App {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .App * {
    box-sizing: border-box;
  }

  .main-content {
    width: 100%;
    min-height: calc(100vh - 200px); 
    padding-top: 0;
  }
